parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method Robo\\\\Collection\\\\CollectionBuilder\\:\\:setAssetNamePrefix\\(\\)\\.$#"
			count: 1
			path: RoboFile.php

		-
			message: "#^Call to an undefined method Robo\\\\Collection\\\\CollectionBuilder\\:\\:setInputFile\\(\\)\\.$#"
			count: 1
			path: RoboFile.php

		-
			message: "#^Call to an undefined method Robo\\\\Collection\\\\CollectionBuilder\\|Robo\\\\Task\\\\Filesystem\\\\FilesystemStack\\:\\:mkdir\\(\\)\\.$#"
			count: 4
			path: RoboFile.php

		-
			message: "#^Call to an undefined method Robo\\\\Collection\\\\CollectionBuilder\\|Sweetchuck\\\\Robo\\\\Git\\\\Task\\\\GitListStagedFilesTask\\:\\:setPaths\\(\\)\\.$#"
			count: 1
			path: RoboFile.php

		-
			message: "#^Call to an undefined method Robo\\\\Collection\\\\CollectionBuilder\\|Sweetchuck\\\\Robo\\\\Git\\\\Task\\\\GitReadStagedFilesTask\\:\\:setCommandOnly\\(\\)\\.$#"
			count: 1
			path: RoboFile.php

		-
			message: "#^Call to an undefined method Robo\\\\Collection\\\\CollectionBuilder\\|Sweetchuck\\\\Robo\\\\Phpstan\\\\Task\\\\AnalyzeTask\\:\\:setNoProgress\\(\\)\\.$#"
			count: 1
			path: RoboFile.php

		-
			message: "#^Call to an undefined method Sweetchuck\\\\Robo\\\\Git\\\\Task\\\\GitReadStagedFilesTask\\:\\:deferTaskConfiguration\\(\\)\\.$#"
			count: 1
			path: RoboFile.php

		-
			message: "#^Call to function assert\\(\\) with false and 'invalid step type\\:…' will always evaluate to false\\.$#"
			count: 1
			path: src/SuiteHandler.php

		-
			message: "#^Parameter \\#2 \\$actions of method Sweetchuck\\\\ComposerSuiteHandler\\\\SuiteHandler\\:\\:generate\\(\\) expects array\\<int, array\\{type\\: 'replaceRecursive', config\\: array\\{parents\\?\\: array\\<string\\>, function\\?\\: string, params\\?\\: array\\}\\|array\\{parents\\?\\: array\\<string\\>, items\\?\\: array, placement\\?\\: 'after'\\|'before'\\}\\}\\>, array\\{array\\{type\\: 'sortNormal', config\\: array\\{parents\\: array\\{'tags'\\}, function\\: 'my_not_exists'\\}\\}\\} given\\.$#"
			count: 1
			path: tests/unit/SuiteHandlerTest.php

		-
			message: "#^Parameter \\#2 \\$actions of method Sweetchuck\\\\ComposerSuiteHandler\\\\SuiteHandler\\:\\:generate\\(\\) expects array\\<int, array\\{type\\: 'replaceRecursive', config\\: array\\{parents\\?\\: array\\<string\\>, function\\?\\: string, params\\?\\: array\\}\\|array\\{parents\\?\\: array\\<string\\>, items\\?\\: array, placement\\?\\: 'after'\\|'before'\\}\\}\\>, array\\{array\\{type\\: 'unknown'\\}\\} given\\.$#"
			count: 1
			path: tests/unit/SuiteHandlerTest.php

