parameters:
	bootstrapFiles:
		- ./bootstrap.php
	level: 7
	paths:
		- ../src/
		- ../tests/
		- ../RoboFile.php
	excludePaths:
		analyse:
			- '../tests/_support/_generated/ (?)'
		analyseAndScan:
			- '../tests/_output/ (?)'
